.header {
  padding: 7rem 2rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header-texts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.6rem;
    margin-bottom: 1rem;
    h1 {
      font-size: 1.7rem;
      font-weight: 900;
      color: var(--primary-color);
      span {
        color: var(--secondary-color);
      }
    }
    p {
      font-size: 1.2rem;
      color: var(--text-color);
      opacity: 61%;
    }
    a {
      padding: 0.6rem 3rem;
      background-color: var(--primary-color);
      border: 0.1rem solid var(--primary-color);
      border-radius: 0.4rem;
      font-size: 1.2rem;
      font-weight: 600;
      text-decoration: none;
      color: #fff;
      cursor: pointer;
      transition: 0.5s ease;
      &:hover {
        background-color: var(--background-color);
        color: var(--primary-color);
        transition: 0.5s ease;
      }
    }
  }
  .image {
    margin-top: 1rem;
    width: 100%;
  }
}

/* Phones and small tablets (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .header {
    padding: 6.5rem 3rem 3rem;
    .header-texts {
      gap: 1.8rem;
      margin-bottom: 1.2rem;
      h1 {
        font-size: 2.2rem;
      }
      p {
        font-size: 1.3rem;
      }
      a {
        padding: 0.6rem 3rem;
        font-size: 1.3rem;
      }
    }
    .image {
      margin-top: 1.1rem;
      width: 100%;
    }
  }
}
@media (min-width: 590px) and (max-width: 768px) {
  .header {
    .header-texts {
      padding: 0 3rem;
      h1 {
        font-size: 2.2rem;
      }
    }
    .image {
      width: 70%;
      margin-top: 1.8rem;
    }
  }
}

/* Tablets and small laptops (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    padding: 12rem 4rem 4rem;
    flex-direction: row;
    align-items: start;
    .header-texts {
      align-items: start;
      gap: 0.8rem;
      margin-bottom: 0;
      text-align: start;
      h1 {
        font-size: 2.2rem;
      }
      p {
        font-size: 1.2rem;
      }
      a {
        padding: 0.6rem 3rem;
        font-size: 1.2rem;
      }
    }
    .image {
      margin: 0 0 0 2rem;
      width: 25%;
    }
  }
}
@media (min-width: 864px) and (max-width: 1024px) {
  .header {
    .header-texts {
      gap: 1rem;
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
      a {
        font-size: 1rem;
      }
    }
    .image {
      width: 50%;
    }
  }
}

/* Laptops and desktops (1025px - 1366px) */
@media (min-width: 1025px) and (max-width: 1366px) {
  .header {
    padding: 13rem 4rem 4rem;
    flex-direction: row;
    align-items: start;
    gap: 4rem;
    .header-texts {
      align-items: start;
      gap: 1.2rem;
      margin-bottom: 0;
      text-align: start;
      h1 {
        font-size: 2.4rem;
      }
      p {
        font-size: 1.2rem;
      }
      a {
        padding: 0.6rem 3rem;
        font-size: 1.5rem;
      }
    }
    .image {
      margin: 0 0 0 2rem;
      width: 50%;
    }
  }
}

@media (min-width: 1224px) and (max-width: 1366px) {
  .header {
    .header-texts {
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.4rem;
      }
      a {
        font-size: 1.3rem;
      }
    }
    .image {
      width: 50%;
    }
  }
}

/* Large screens (1367px and above) */
@media (min-width: 1367px) {
  .header {
    padding: 7.5rem 9rem 4rem;
    flex-direction: row;
    justify-content: space-around;
    gap: 6rem;
    .header-texts {
      width: 45%;
      align-items: start;
      gap: 2.4rem;
      margin-bottom: 0;
      text-align: start;
      h1 {
        font-size: 3.2rem;
      }
      p {
        font-size: 1.8rem;
      }
      a {
        padding: 0.9rem 3.5rem;
        font-size: 1.6rem;
      }
    }
    .image {
      width: 50%;
    }
  }
}
