@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import "./_navbar.scss";
@import "./_header.scss";
@import "./_use-metod.scss";
@import "./_adventages.scss";
@import "./_contact.scss";
@import "./_faq.scss";
@import "./_footer.scss";

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", sans-serif;
}

:root {
  --primary-color: #297cf1;
  --secondary-color: #000;
  --deep-ocean: #2b5fa8;
  --text-color: #263238;
  --background-color: #f4f5f7;
  --secondary-background: #fff;
  --soft-mist: #f7f7f8;
}

.opacityEffect {
  opacity: 0; /* Başlangıçta görünmez olacak */
  transition: opacity 0.6s ease-out; /* Geçiş efekti */
}
